body{
    background: rgb(27,27,27);
    background: radial-gradient(circle, rgba(27,27,27,1) 0%, rgba(37,37,37,1) 90%, rgba(61,59,59,1) 100%);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: rgb(27,27,27);
    background: radial-gradient(circle, rgba(27,27,27,1) 0%, rgba(37,37,37,1) 90%, rgba(61,59,59,1) 100%);
    overflow: hidden;
}

.area-login{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center; 
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #424242;
    width: 25rem;
    height: 30rem;
    padding: 2.3rem;
    border-radius: 10px;
}

.login form{
    display:flex;
    width: 100%;
    flex-direction: column;
}

.login input{
    margin-top: 1rem;
    background-color: #646464;
    color: aliceblue;
    border: none;
    height: 2.9rem;
    outline: none;
    border-radius: 5px;
}

form [type="text"]{
    padding-left: 10px;
}

form [type="email"]{
    padding-left: 10px;
}

input::placeholder{
    color: aliceblue;
    font-size: 14px;
}

form [type="submit"]{
    display: block;
    background-color:green;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

form [type="submit"]:hover{
    background-color: rgb(2, 105, 2);
}

.login textarea{
    padding-left: 10px;
    margin-top: 1rem;
    background-color: #646464;
    color: aliceblue;
    border: none;
    height: 7rem;
    outline: none;
    border-radius: 5px;
    padding-top: 2px;
}

textarea::placeholder{
    color: aliceblue;
    font-size: 14px;
}

p{
    color: white;
    padding-top: 25px;
}

.conta{
    color: gold;
    text-decoration: none;
    margin-left: 10px;
    font-weight: 600;
}

.conta:hover{
    text-decoration: none;
    color: goldenrod;
}