@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 1000;
}

header .logo{
    position: relative;
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.2rem;
    text-decoration: none;
}


header .logo span{
color: gold;
}

header .toggle{
    max-width: 5rem;
    cursor: pointer;
}

header .toggle img{
    max-width: 100%;
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    background: #111;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.banner:before{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 35rem;
    height: 100%;
    background: goldenrod;
    transform-origin: top;
    transform: skewX(-25deg);
    z-index: 1;
}

.banner video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.10;  
    pointer-events: none;
}

.banner .textBox{
    position: relative;
    max-width: 50rem;
    z-index: 2;
}

.banner .textBox h2{
    color: #fff;
    font-size: 3em;
}

.banner .textBox p{
    color: #fff;
    font-size: 1.1em;
    margin: 5px 0 25px;
}

.banner .textBox a{
    position: relative;
    display: inline-block;
    background: #fff;
    color: #111;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 1;
    font-weight: 500;
}

.banner .imgBox{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    z-index: 2;
}

.banner .imgBox img{
    position: absolute;
    bottom: 0;
    height: 90%;
    z-index: 10000;
}