header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    z-index: 1000;
}

/* logo */ 

header .logo-prod{
    position: relative;
    display: flex;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.2rem;
    text-decoration: none;
}

header .logo-prod span{
color: gold;
}

/* barra de navegacao */ 

header .navigation-prod{
    position: relative;
    display: flex;
    justify-content: space-between;
}

header .navigation-prod li{
    list-style: none;
}

header .navigation-prod li a{
    display: inline-block;
    color: white;
    margin-right: 2.2rem;
    background: #fff;
    color: #111;
    padding: 7px 15px;
    text-decoration: none;
    font-size: 1.1em;
    border-radius: 5px;
    font-weight: 500;
}

header .navigation-prod li a:hover{
    background-color: rgb(245, 245, 245);
}

header .navigation-prod li a.yellow-prod{
    background-color:green;
    color: #fff;
}

header .navigation-prod li a.yellow-prod:hover{
    background-color: rgb(2, 109, 2);
}